body {
    font-family: "cairo", sans-serif;
    margin: 0;
}

.section-1 {
    background-color: #163840;
    color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.sec1-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}


header, ul {
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;
}

ul {
    list-style-type: none;
    gap: 35px;
}

a {
    color: white;
    text-decoration: none;
}

.left-and-right-container, .sec1-right-half, .calculator div {
    display: flex;
}
.left-and-right-container {
    padding: 50px 0;
}

.sec1-right-half {
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.sec1-left-half {
    flex: 2;
    padding-right: 20px;
}

.sec1-left-half p {
    font-size: 20px;
    font-weight: 300;
    margin: -20px 0 0 0;
}

h1 {
    font-size: 70px;
    margin: 0;
}

.calculator {
    background-color: #276B73;
    width: 210px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 15px;
    gap: 15px;
    box-shadow: 0 7px #0b4e54;
}

.calculator input {
    width: 100%;
    height: 40px;
    border: none;
    padding: 5px 8px;
    box-sizing: border-box;
}

.row > div {
    height: 47px;
}

button {
    color: #276B73;
    background-color: #F2CF63;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 7px #826f34;
}

button, .calculator input {
    font-family: 'cairo', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.calculator .row {
    justify-content: space-between;
    width: 100%
}

.section-2 {
    background-color: #F2CF63;
    color:#163840;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-2 h2 {
    margin: 0;
}

.sec2-container {
    width: 65%;
}

.sec2-container p {
    font-weight: 300;
}

.section-3 {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
}

.sec3-container {
    width: 70%;
}

footer {
    background-color: #163840;
    color: white;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}